<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/forms.css">
    <title>Document</title>
  </head>

  <body>
    <div class="contenedor">
      <div class="contenido">
        <form class="evaluar-talento-form" action="" method="post">
          <p class="nombre-proyecto"><strong>Proyecto:</strong> Proyecto X</p>

          <p class="nombre-talento"><strong>Cazador:</strong> Manolo Pérez</p>

          <div class="campos">
            <label for="calificacion">Calificación</label>
            <select name="calificacion" id="calificacion">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <label for="comentarios">Comentarios</label>
            <textarea name="comentarios" id="comentarios" resizable="false"></textarea>
          </div>
          <div class="botones">
            <button>Cancelar</button>
            <input type="submit" value="Enviar calificación">
          </div>
        </form>
      </div>
    </div>
  </body>

</html>