<nav class="top-bar">
  <div class="top-bar-item">
    <a href="perfilTalento.html">Perfil Talento</a>
  </div>
  <div class="top-bar-item">
    <a href="perfilCazador.html">Perfil Cazador</a>
  </div>
  <div class="top-bar-item">
    <a href="#">Proyectos Disponibles</a>
  </div>
  <div class="top-bar-item">
    <a href="speedHunting.html">Speed Hunting</a>
  </div>
  <div class="top-bar-item">
    <a href="proyectosCazador.html">Mis proyectos(Cazador)</a>
  </div>
  <div class="top-bar-item">
    <a href="proyectosTalento.html">Mis proyectos(Talento)</a>
  </div>
  <div class="top-bar-item">
    <a href="index.html">Cerrar sesión</a>
  </div>
</nav>