<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="css/perfiles.css">
    <link rel="stylesheet" href="css/navbar.css">
  </head>

  <body>
    <nav class="top-bar">
      <div class="top-bar-item">
        <a href="../view/perfilTalento.html">Perfil Talento</a>
      </div>
      <div class="top-bar-item">
        <a href="../view/perfilCazador.html">Perfil Cazador</a>
      </div>
      <div class="top-bar-item">
        <a href="../view/proyectosDisponibles.html">Proyectos Disponibles</a>
      </div>
      <div class="top-bar-item">
        <a href="../view/speedHunting.html">Speed Hunting</a>
      </div>
      <div class="top-bar-item">
        <a href="../view/proyectosCazador.html">Mis proyectos(Cazador)</a>
      </div>
      <div class="top-bar-item">
        <a href="../view/proyectosTalento.html">Mis proyectos(Talento)</a>
      </div>
      <div class="top-bar-item">
        <a href="../view/index.html">Cerrar sesión</a>
      </div>
    </nav>
    <div class="contenedor">
      <h1>Cazador</h1>
      <div class="info-cazador">
        <p>Nombre: Mariana Nieto Lando</p>
        <p>Reputación: 4.7/5⭐</p>
        <p>Lugar: Colima, México</p>
        <p>Número de contratos hechos: 15</p>
        <p>Nivel: 3</p>
        <p>Puntos: 250</p>
      </div>
    </div>

    <!-- <div class="opciones-perfil">
      <a href="modificarPerfil.html">Modificar Perfil</a>
    </div> -->

</html>