<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Proyectos</title>
  </head>

  <body>
    <h1>Proyectos</h1>

    <div class="opciones-proyectos">
      <button>Crear proyecto</button>
    </div>

    <div class="proyectos-publicados">
      <h3>Proyectos Publicados</h3>
      <ul>
        <li>
          Blackboard 2.0
          <button>Anunciar Proyecto</button>
          <button>Modificar Proyecto</button>
        </li>
        <li>
          Proyecto Fusión
          <button>Anunciar Proyecto</button>
          <button>Modificar Proyecto</button>
        </li>
        <li>
          Proyecto Laguna
          <button>Anunciar Proyecto</button>
          <button>Modificar Proyecto</button>
        </li>
        <li>
          Proyecto X
          <button>Anunciar Proyecto</button>
          <button>Modificar Proyecto</button>
        </li>
      </ul>
    </div>

    <div class="contratos-hechos">
      <h3>Contratos hechos</h3>
      <ul class="contrato-hecho-elemento">
        <li>Proyecto <span class="nombre-proyecto">Facebook Meta</span></li>
        <ul>
          <li>Talento: <span class="nombre-talento">Juan José López</span></li>
          <li>Calificación: <span class="estrellas-obtenidas">4.4/5⭐</span></li>
        </ul>
      </ul>
      <ul class="contrato-hecho-elemento">
        <li>Proyecto <span class="nombre-proyecto">Whatsapp Meta</span></li>
        <ul>
          <li>Talento: <span class="nombre-talento">José Juan Pérez</span></li>
          <li>Calificación: <span class="estrellas-obtenidas">4.7/5⭐</span></li>
        </ul>
      </ul>
    </div>
  </body>
  </div>
  </body>

</html>