<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/paginas.css">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Proyectos</title>
  </head>

  <body>
    <nav class="top-bar">
      <div class="top-bar-item">
        <a href="perfilTalento.html">Perfil Talento</a>
      </div>
      <div class="top-bar-item">
        <a href="perfilCazador.html">Perfil Cazador</a>
      </div>
      <div class="top-bar-item">
        <a href="#">Proyectos Disponibles</a>
      </div>
      <div class="top-bar-item">
        <a href="speedHunting.html">Speed Hunting</a>
      </div>
      <div class="top-bar-item">
        <a href="proyectosCazador.html">Mis proyectos(Cazador)</a>
      </div>
      <div class="top-bar-item">
        <a href="proyectosTalento.html">Mis proyectos(Talento)</a>
      </div>
      <div class="top-bar-item">
        <a href="index.html">Cerrar sesión</a>
      </div>

    </nav>
    <h1>Proyectos Disponibles</h1>
    <div class="container-proyectos">
      <div class="proyecto">
        <p class="nombre-proyecto">Blackboard 2.0</p>
        <p class="tipo-proyecto">Desarrollo Web</p>
        <p class="vacantes"><strong>5</strong> puestos disponibles</p>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse magni
          molestiae asperiores,
          reprehenderit tenetur repellat, deleniti sapiente sint amet temporibus numquam dignissimos officiis maiores.
          Fugit nihil in optio iusto!</p>
      </div>
      <div class="proyecto">
        <p class="nombre-proyecto">Blackboard 2.0</p>
        <p class="tipo-proyecto">Desarrollo Web</p>
        <p class="vacantes"><strong>5</strong> puestos disponibles</p>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse magni
          molestiae asperiores,
          reprehenderit tenetur repellat, deleniti sapiente sint amet temporibus numquam dignissimos officiis maiores.
          Fugit nihil in optio iusto!</p>
      </div>
      <div class="proyecto">
        <p class="nombre-proyecto">Blackboard 2.0</p>
        <p class="tipo-proyecto">Desarrollo Web</p>
        <p class="vacantes"><strong>5</strong> puestos disponibles</p>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse magni
          molestiae asperiores,
          reprehenderit tenetur repellat, deleniti sapiente sint amet temporibus numquam dignissimos officiis maiores.
          Fugit nihil in optio iusto!</p>
      </div>
      <div class="proyecto">
        <p class="nombre-proyecto">Blackboard 2.0</p>
        <p class="tipo-proyecto">Desarrollo Web</p>
        <p class="vacantes"><strong>5</strong> puestos disponibles</p>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse magni
          molestiae asperiores,
          reprehenderit tenetur repellat, deleniti sapiente sint amet temporibus numquam dignissimos officiis maiores.
          Fugit nihil in optio iusto!</p>
      </div>
      <div class="proyecto">
        <p class="nombre-proyecto">Blackboard 2.0</p>
        <p class="tipo-proyecto">Desarrollo Web</p>
        <p class="vacantes"><strong>5</strong> puestos disponibles</p>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse magni
          molestiae asperiores,
          reprehenderit tenetur repellat, deleniti sapiente sint amet temporibus numquam dignissimos officiis maiores.
          Fugit nihil in optio iusto!</p>
      </div>
      <div class="proyecto">
        <p class="nombre-proyecto">Blackboard 2.0</p>
        <p class="tipo-proyecto">Desarrollo Web</p>
        <p class="vacantes"><strong>5</strong> puestos disponibles</p>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse magni
          molestiae asperiores,
          reprehenderit tenetur repellat, deleniti sapiente sint amet temporibus numquam dignissimos officiis maiores.
          Fugit nihil in optio iusto!</p>
      </div>
      <div class="proyecto">
        <p class="nombre-proyecto">Blackboard 2.0</p>
        <p class="tipo-proyecto">Desarrollo Web</p>
        <p class="vacantes"><strong>5</strong> puestos disponibles</p>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi esse magni
          molestiae asperiores,
          reprehenderit tenetur repellat, deleniti sapiente sint amet temporibus numquam dignissimos officiis maiores.
          Fugit nihil in optio iusto!</p>
      </div>
    </div>
  </body>

</html>