<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Proyectos</title>
  </head>

  <body>
    <h1>Mis Proyectos</h1>

    <div class="proyecto-actual">
      <h3>Proyeto actual</h3>
      <p>Proyecto X</p>
    </div>

    <div class="contratos-hechos">
      <h3>Contratos hechos</h3>
      <ul class="contrato-hecho-elemento">
        <li>Proyecto <span class="nombre-proyecto">Facebook Meta</span></li>
        <ul>
          <li>Cazador: <span class="nombre-cazador">Thomas Rodríguez</span></li>
          <li>Calificación: <span class="estrellas-obtenidas">4.4/5⭐</span></li>
        </ul>
      </ul>
      <ul class="contrato-hecho-elemento">
        <li>Proyecto <span class="nombre-proyecto">Whatsapp Meta</span></li>
        <ul>
          <li>Cazador: <span class="nombre-cazador">Pedrito Sola</span></li>
          <li>Calificación: <span class="estrellas-obtenidas">4.7/5⭐</span></li>
        </ul>
      </ul>
    </div>
  </body>
  </div>
  </body>

</html>